<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696292490749-m34mtr5n51uqibck9ci7lc6pcpmfd20s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696292490749-m34mtr5n51uqibck9ci7lc6pcpmfd20s</string>
	<key>API_KEY</key>
	<string>AIzaSyCYtHO7BSXi7dwDPnkC_CpJtUdmcNwjP3E</string>
	<key>GCM_SENDER_ID</key>
	<string>696292490749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ygame.test</string>
	<key>PROJECT_ID</key>
	<string>test-b6843</string>
	<key>STORAGE_BUCKET</key>
	<string>test-b6843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:696292490749:ios:cb82be8eb9345775</string>
	<key>DATABASE_URL</key>
	<string>https://test-b6843.firebaseio.com</string>
</dict>
</plist>