<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>FacebookAppID</key>
    <string>452705101790777</string>
    <key>AppID</key>
    <string>01570b2b4730a1e60d257ebd80db7027</string>
    <key>GoogleSignIn_ClientID</key>
    <string>638390575257-uspjr14a9fk2m7btn3ma7gvuvfmk0vlk.apps.googleusercontent.com</string>
    <key>AppStoreID</key>
    <string>1291759391</string>
    <key>GoogleSignIn_ReverseClientID</key>
    <string>com.googleusercontent.apps.638390575257-uspjr14a9fk2m7btn3ma7gvuvfmk0vlk</string>
    <key>AppSecret</key>
    <string>34bf3d41b69094a395bfbf7491ca4814</string>
    <key>FacebookUrlSchemes</key>
    <string>fb452705101790777</string>
    <key>FacebookDisplayName</key>
    <string>A Tao</string>
  </dict>
</plist>
